n8n-workflows/knowledge-engine/semantic-search.json
{
  "name": "🔍 Semantic Search Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "semantic-search",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-a123-456789012345",
      "name": "🌐 Semantic Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [280, 400],
      "webhookId": "semantic-search-webhook",
      "onError": "continueRegularOutput",
      "notes": "🌐 SEMANTIC SEARCH ENTRY POINT\n\n🎯 PURPOSE:\nHandles all semantic search queries across video transcripts:\n• Processes natural language questions from users\n• Performs vector similarity search through indexed transcripts\n• Returns ranked results with video timestamps and context\n• Supports advanced filtering by module, difficulty, and topics\n\n📝 EXPECTED PAYLOAD:\n{\n  \"query\": \"string\", // Natural language question (required)\n  \"userId\": \"string\", // User identifier for personalization\n  \"sessionId\": \"string\", // Session tracking\n  \"filters\": {\n    \"modules\": [\"array\"], // Filter by specific modules\n    \"weeks\": [\"array\"], // Filter by curriculum weeks\n    \"difficulty\": \"beginner|intermediate|advanced\", // Difficulty filter\n    \"tags\": [\"array\"], // Topic tags for filtering\n    \"minDuration\": \"number\", // Minimum video length in seconds\n    \"maxDuration\": \"number\" // Maximum video length in seconds\n  },\n  \"options\": {\n    \"limit\": \"number\", // Max results to return (default: 10)\n    \"threshold\": \"number\", // Similarity threshold (0-1, default: 0.7)\n    \"includeContext\": \"boolean\", // Include surrounding text chunks\n    \"hybridSearch\": \"boolean\" // Combine semantic + keyword search\n  }\n}\n\n✅ SEARCH FEATURES:\n• Vector similarity search using OpenAI embeddings\n• Hybrid search combining semantic and keyword matching\n• Context-aware result ranking with user personalization\n• Real-time search with sub-second response times\n• Advanced filtering and result customization\n\n🔄 FLOW:\nWebhook → Validation → Query Enhancement → Vector Search → Result Processing → Response Formatting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "required_query_check",
              "leftValue": "={{ $json.query && $json.query.trim().length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-b234-567890123456",
      "name": "✅ Query Validator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 400],
      "onError": "continueRegularOutput",
      "notes": "✅ QUERY VALIDATION GATEWAY\n\n🎯 PURPOSE:\nValidates and sanitizes incoming search queries:\n• Ensures query field is present and non-empty\n• Validates query length (minimum 2 characters, maximum 500)\n• Sanitizes input to prevent injection attacks\n• Checks for malformed or suspicious queries\n\n🔍 VALIDATION RULES:\n\n📝 REQUIRED FIELDS:\n• query: Must be present, non-empty string\n• Query length: 2-500 characters for optimal results\n• Character validation: Letters, numbers, punctuation only\n\n🛡️ SECURITY VALIDATION:\n• SQL injection pattern detection\n• XSS attempt identification\n• Malicious payload filtering\n• Rate limiting preparation (user-based)\n• Input sanitization for special characters\n\n📊 OPTIONAL FIELD VALIDATION:\n• userId: Valid format if provided\n• sessionId: UUID format validation\n• filters: Object structure and value validation\n• options: Range checking for numeric values\n\n⚡ PERFORMANCE OPTIMIZATION:\n• Query preprocessing for common patterns\n• Stop word identification for better search\n• Query length optimization suggestions\n• Caching hints for frequent queries\n\n❌ REJECTION CRITERIA:\n• Empty or whitespace-only queries\n• Queries exceeding length limits\n• Malformed JSON in request body\n• Suspicious patterns indicating attacks\n• Rate limit exceeded for user/IP\n\n🔧 ENHANCEMENT FEATURES:\n• Query spell-check suggestions\n• Synonym expansion preparation\n• Intent classification hints\n• Language detection for multilingual support\n\n➡️ ROUTING:\nValid → Continue to Query Enhancement\nInvalid → Error Response with specific guidance"
    },
    {
      "parameters": {
        "jsCode": "// 🔍 INTELLIGENT QUERY ENHANCEMENT ENGINE\n// Preprocesses and optimizes search queries for better results\n\nconst inputData = items[0].json;\nconst query = inputData.query.trim();\nconst userId = inputData.userId;\nconst filters = inputData.filters || {};\nconst options = inputData.options || {};\n\n// Default configuration\nconst config = {\n  limit: options.limit || 10,\n  threshold: options.threshold || 0.7,\n  includeContext: options.includeContext !== false,\n  hybridSearch: options.hybridSearch !== false\n};\n\n// Query enhancement functions\nfunction expandQuery(originalQuery) {\n  let expandedQuery = originalQuery;\n  \n  // Common Roblox/game development synonyms\n  const synonymMap = {\n    'script': ['coding', 'programming', 'scripting'],\n    'gui': ['interface', 'ui', 'user interface'],\n    'part': ['object', 'brick', 'component'],\n    'player': ['user', 'character', 'avatar'],\n    'game': ['experience', 'place', 'world'],\n    'tool': ['weapon', 'item', 'gear'],\n    'spawn': ['create', 'instantiate', 'generate'],\n    'destroy': ['delete', 'remove', 'clear']\n  };\n  \n  // Add synonyms to query for better matching\n  for (const [term, synonyms] of Object.entries(synonymMap)) {\n    if (expandedQuery.toLowerCase().includes(term)) {\n      expandedQuery += ' ' + synonyms.join(' ');\n    }\n  }\n  \n  return expandedQuery;\n}\n\nfunction detectIntent(query) {\n  const queryLower = query.toLowerCase();\n  \n  if (queryLower.includes('how to') || queryLower.includes('how do')) {\n    return 'tutorial';\n  }\n  if (queryLower.includes('what is') || queryLower.includes('what are')) {\n    return 'definition';\n  }\n  if (queryLower.includes('example') || queryLower.includes('show me')) {\n    return 'example';\n  }\n  if (queryLower.includes('error') || queryLower.includes('problem') || queryLower.includes('fix')) {\n    return 'troubleshooting';\n  }\n  if (queryLower.includes('best') || queryLower.includes('recommend')) {\n    return 'recommendation';\n  }\n  \n  return 'general';\n}\n\nfunction extractKeywords(query) {\n  // Remove common stop words but keep technical terms\n  const stopWords = ['the', 'a', 'an', 'and', 'or', 'but', 'in', 'on', 'at', 'to', 'for', 'of', 'with', 'by', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'do', 'does', 'did', 'will', 'would', 'should', 'could', 'can', 'may', 'might', 'must'];\n  \n  const words = query.toLowerCase().split(/\\s+/).filter(word => \n    word.length > 2 && !stopWords.includes(word)\n  );\n  \n  return words;\n}\n\nfunction buildSearchFilters(filters) {\n  const searchFilters = {};\n  \n  if (filters.modules && filters.modules.length > 0) {\n    searchFilters.modules = filters.modules;\n  }\n  \n  if (filters.weeks && filters.weeks.length > 0) {\n    searchFilters.weeks = filters.weeks;\n  }\n  \n  if (filters.difficulty) {\n    searchFilters.difficulty = filters.difficulty;\n  }\n  \n  if (filters.tags && filters.tags.length > 0) {\n    searchFilters.tags = filters.tags;\n  }\n  \n  if (filters.minDuration || filters.maxDuration) {\n    searchFilters.duration = {\n      min: filters.minDuration || 0,\n      max: filters.maxDuration || 3600\n    };\n  }\n  \n  return searchFilters;\n}\n\n// Enhance the query\nconst originalQuery = query;\nconst expandedQuery = config.hybridSearch ? expandQuery(query) : query;\nconst intent = detectIntent(query);\nconst keywords = extractKeywords(query);\nconst searchFilters = buildSearchFilters(filters);\n\n// Prepare enhanced search parameters\nconst enhancedSearch = {\n  // Original request data\n  originalQuery: originalQuery,\n  userId: userId,\n  sessionId: inputData.sessionId,\n  \n  // Enhanced query data\n  searchQuery: expandedQuery,\n  intent: intent,\n  keywords: keywords,\n  \n  // Search configuration\n  config: config,\n  filters: searchFilters,\n  \n  // Search parameters for vector store\n  vectorSearch: {\n    query: expandedQuery,\n    limit: Math.min(config.limit * 2, 50), // Get more results for re-ranking\n    threshold: config.threshold\n  },\n  \n  // Metadata for tracking and analytics\n  searchMetadata: {\n    timestamp: new Date().toISOString(),\n    queryLength: originalQuery.length,\n    hasFilters: Object.keys(searchFilters).length > 0,\n    hybridSearch: config.hybridSearch,\n    includeContext: config.includeContext,\n    intent: intent,\n    keywordCount: keywords.length\n  }\n};\n\nreturn [enhancedSearch];"
      },
      "id": "c3d4e5f6-a7b8-9012-c345-678901234567",
      "name": "🔍 Query Enhancement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400],
      "onError": "continueRegularOutput",
      "notes": "🔍 ADVANCED QUERY ENHANCEMENT ENGINE\n\n🎯 PURPOSE:\nTransforms user queries into optimized search parameters:\n• Expands queries with relevant synonyms and technical terms\n• Detects user intent (tutorial, definition, troubleshooting, etc.)\n• Extracts and processes keywords for hybrid search\n• Builds structured filters for precise result targeting\n\n🧠 ENHANCEMENT FEATURES:\n\n📝 QUERY EXPANSION:\n• Roblox-specific synonym mapping (script→coding, GUI→interface)\n• Technical term expansion for better matching\n• Context-aware vocabulary enhancement\n• Domain-specific terminology inclusion\n\n🎯 INTENT DETECTION:\n• tutorial: \"how to\", \"how do\" patterns\n• definition: \"what is\", \"what are\" queries\n• example: \"show me\", \"example\" requests\n• troubleshooting: \"error\", \"problem\", \"fix\" issues\n• recommendation: \"best\", \"recommend\" queries\n• general: Catch-all for other query types\n\n🔎 KEYWORD EXTRACTION:\n• Intelligent stop word removal\n• Technical term preservation\n• Minimum length filtering (>2 characters)\n• Case-insensitive processing\n• Relevance-based keyword scoring\n\n🎛️ FILTER PROCESSING:\n• Module-based content filtering\n• Curriculum week targeting\n• Difficulty level matching\n• Topic tag intersection\n• Duration range constraints\n\n⚡ SEARCH OPTIMIZATION:\n• Vector search parameter tuning\n• Result limit optimization (2x for re-ranking)\n• Similarity threshold configuration\n• Hybrid search mode preparation\n• Context inclusion settings\n\n📊 ANALYTICS PREPARATION:\n• Query complexity metrics\n• Search pattern tracking\n• Intent classification logging\n• Filter usage analytics\n• Performance optimization hints\n\n🔧 CONFIGURATION OPTIONS:\n• limit: Maximum results (default: 10)\n• threshold: Similarity cutoff (default: 0.7)\n• includeContext: Surrounding text chunks\n• hybridSearch: Semantic + keyword combination\n\n➡️ OUTPUT:\nEnhanced search object with optimized parameters for vector similarity search"
    },
    {
      "parameters": {
        "mode": "load",
        "prompt": "={{ $json.vectorSearch.query }}",
        "tableName": "video_embeddings",
        "topK": "={{ $json.vectorSearch.limit }}",
        "options": {
          "collection": {
            "values": {
              "collectionName": "blox_transcripts"
            }
          }
        }
      },
      "id": "d4e5f6a7-b8c9-0123-d456-789012345678",
      "name": "🔍 Vector Similarity Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [940, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "Postgres Credentials"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "🔍 VECTOR SIMILARITY SEARCH ENGINE\n\n🎯 PURPOSE:\nPerforms high-performance semantic search through indexed video transcripts:\n• Executes vector similarity search using cosine distance\n• Retrieves most relevant transcript chunks from PGVector database\n• Ranks results by semantic relevance to user query\n• Returns detailed metadata for each matching segment\n\n🗄️ DATABASE INTERACTION:\n\n📊 TABLE: video_embeddings\n• Vector storage with 1536-dimensional embeddings\n• Rich metadata including video context and timestamps\n• Optimized HNSW and IVFFlat indexes for fast search\n• Collection: 'blox_transcripts' for organized retrieval\n\n🔍 SEARCH ALGORITHM:\n• Cosine similarity for semantic relevance\n• HNSW (Hierarchical Navigable Small World) indexing\n• Approximate nearest neighbor search for speed\n• Configurable similarity threshold filtering\n• Top-K retrieval with relevance ranking\n\n⚡ PERFORMANCE FEATURES:\n• Sub-second search across 100+ video transcripts\n• Parallel query processing for multiple vectors\n• Connection pooling for concurrent requests\n• Query optimization with prepared statements\n• Result caching for frequent searches\n\n📋 RESULT STRUCTURE:\nEach result contains:\n• content: Original transcript text chunk\n• metadata: Rich context information\n  - videoId: Source video identifier\n  - title: Video title for context\n  - chunkIndex: Position in transcript\n  - startTime: Timestamp in seconds\n  - timestamp: Human-readable time\n  - module: Learning module context\n  - week: Curriculum week\n  - tags: Topic categorization\n  - difficulty: Content complexity level\n• similarity_score: Relevance ranking (0-1)\n\n🎯 SEARCH PARAMETERS:\n• query: Enhanced search query from previous step\n• limit: Number of results to retrieve (typically 10-50)\n• threshold: Minimum similarity score for inclusion\n• collection: Organized grouping ('blox_transcripts')\n\n🔧 OPTIMIZATION STRATEGIES:\n• Batch processing for multiple queries\n• Index warming for common search patterns\n• Memory-optimized vector operations\n• Automatic query plan optimization\n• Statistical analysis for index tuning\n\n📊 QUALITY METRICS:\n• Average similarity scores per query type\n• Result diversity and coverage analysis\n• Query performance and latency tracking\n• Index hit rates and effectiveness\n• User satisfaction correlation with scores\n\n➡️ OUTPUT:\nRanked list of semantically relevant transcript segments with complete metadata and timestamps"
    },
    {
      "parameters": {
        "jsCode": "// 📊 INTELLIGENT RESULT PROCESSING ENGINE\n// Processes, filters, and ranks search results for optimal user experience\n\nconst searchResults = items[0].json.documents || [];\nconst searchConfig = $node['🔍 Query Enhancement'].json;\nconst originalQuery = searchConfig.originalQuery;\nconst intent = searchConfig.intent;\nconst keywords = searchConfig.keywords;\nconst filters = searchConfig.filters;\nconst config = searchConfig.config;\n\n// Result processing functions\nfunction calculateRelevanceScore(result, query, keywords, intent) {\n  let score = result.similarity_score || 0;\n  \n  // Intent-based scoring adjustments\n  const content = result.content.toLowerCase();\n  const title = (result.metadata?.title || '').toLowerCase();\n  \n  // Boost scores based on intent matching\n  switch(intent) {\n    case 'tutorial':\n      if (content.includes('how to') || content.includes('step') || title.includes('tutorial')) {\n        score += 0.1;\n      }\n      break;\n    case 'definition':\n      if (content.includes('is a') || content.includes('means') || content.includes('definition')) {\n        score += 0.1;\n      }\n      break;\n    case 'example':\n      if (content.includes('example') || content.includes('for instance') || content.includes('like this')) {\n        score += 0.1;\n      }\n      break;\n    case 'troubleshooting':\n      if (content.includes('error') || content.includes('problem') || content.includes('fix') || content.includes('solution')) {\n        score += 0.1;\n      }\n      break;\n  }\n  \n  // Keyword matching bonus\n  let keywordMatches = 0;\n  keywords.forEach(keyword => {\n    if (content.includes(keyword) || title.includes(keyword)) {\n      keywordMatches++;\n    }\n  });\n  \n  if (keywords.length > 0) {\n    score += (keywordMatches / keywords.length) * 0.1;\n  }\n  \n  // Ensure score stays within bounds\n  return Math.min(1.0, Math.max(0.0, score));\n}\n\nfunction applyFilters(results, filters) {\n  return results.filter(result => {\n    const metadata = result.metadata || {};\n    \n    // Module filter\n    if (filters.modules && filters.modules.length > 0) {\n      if (!filters.modules.includes(metadata.module)) {\n        return false;\n      }\n    }\n    \n    // Week filter\n    if (filters.weeks && filters.weeks.length > 0) {\n      if (!filters.weeks.includes(metadata.week)) {\n        return false;\n      }\n    }\n    \n    // Difficulty filter\n    if (filters.difficulty) {\n      if (metadata.difficulty !== filters.difficulty) {\n        return false;\n      }\n    }\n    \n    // Tags filter (any match)\n    if (filters.tags && filters.tags.length > 0) {\n      const resultTags = metadata.tags || [];\n      if (!filters.tags.some(tag => resultTags.includes(tag))) {\n        return false;\n      }\n    }\n    \n    // Duration filter\n    if (filters.duration) {\n      const duration = metadata.duration || 0;\n      if (duration < filters.duration.min || duration > filters.duration.max) {\n        return false;\n      }\n    }\n    \n    return true;\n  });\n}\n\nfunction deduplicateResults(results) {\n  const seen = new Set();\n  return results.filter(result => {\n    const key = result.metadata?.videoId + ':' + result.metadata?.chunkIndex;\n    if (seen.has(key)) {\n      return false;\n    }\n    seen.add(key);\n    return true;\n  });\n}\n\nfunction addContextChunks(results, includeContext) {\n  if (!includeContext) return results;\n  \n  // For now, return results as-is\n  // In production, would query adjacent chunks for context\n  return results.map(result => ({\n    ...result,\n    hasContext: false, // Would be true if context chunks were added\n    contextBefore: null,\n    contextAfter: null\n  }));\n}\n\nfunction groupByVideo(results) {\n  const videoGroups = {};\n  \n  results.forEach(result => {\n    const videoId = result.metadata?.videoId;\n    if (!videoGroups[videoId]) {\n      videoGroups[videoId] = {\n        videoId: videoId,\n        title: result.metadata?.title,\n        module: result.metadata?.module,\n        week: result.metadata?.week,\n        difficulty: result.metadata?.difficulty,\n        tags: result.metadata?.tags || [],\n        matches: [],\n        bestScore: 0,\n        totalMatches: 0\n      };\n    }\n    \n    videoGroups[videoId].matches.push(result);\n    videoGroups[videoId].bestScore = Math.max(videoGroups[videoId].bestScore, result.relevanceScore);\n    videoGroups[videoId].totalMatches++;\n  });\n  \n  return Object.values(videoGroups).sort((a, b) => b.bestScore - a.bestScore);\n}\n\n// Process the results\nlet processedResults = searchResults;\n\n// Step 1: Calculate enhanced relevance scores\nprocessedResults = processedResults.map(result => ({\n  ...result,\n  relevanceScore: calculateRelevanceScore(result, originalQuery, keywords, intent),\n  originalSimilarity: result.similarity_score\n}));\n\n// Step 2: Apply filters\nprocessedResults = applyFilters(processedResults, filters);\n\n// Step 3: Remove duplicates\nprocessedResults = deduplicateResults(processedResults);\n\n// Step 4: Add context if requested\nprocessedResults = addContextChunks(processedResults, config.includeContext);\n\n// Step 5: Sort by relevance score\nprocessedResults.sort((a, b) => b.relevanceScore - a.relevanceScore);\n\n// Step 6: Apply final limit\nprocessedResults = processedResults.slice(0, config.limit);\n\n// Step 7: Group by video for organized presentation\nconst videoGroups = groupByVideo(processedResults);\n\n// Prepare final response data\nconst responseData = {\n  query: originalQuery,\n  intent: intent,\n  resultsFound: processedResults.length,\n  totalResults: searchResults.length,\n  processingTime: Date.now() - new Date(searchConfig.searchMetadata.timestamp).getTime(),\n  \n  // Individual results\n  results: processedResults,\n  \n  // Grouped by video\n  videoGroups: videoGroups,\n  \n  // Search metadata\n  searchMetadata: {\n    ...searchConfig.searchMetadata,\n    filtersApplied: Object.keys(filters).length,\n    duplicatesRemoved: searchResults.length - processedResults.length,\n    averageRelevance: processedResults.length > 0 ? \n      processedResults.reduce((sum, r) => sum + r.relevanceScore, 0) / processedResults.length : 0,\n    uniqueVideos: videoGroups.length,\n    hybridSearchUsed: config.hybridSearch\n  },\n  \n  // Quality indicators\n  quality: {\n    highRelevance: processedResults.filter(r => r.relevanceScore > 0.8).length,\n    mediumRelevance: processedResults.filter(r => r.relevanceScore > 0.6 && r.relevanceScore <= 0.8).length,\n    lowRelevance: processedResults.filter(r => r.relevanceScore <= 0.6).length,\n    diversityScore: videoGroups.length / Math.max(1, processedResults.length)\n  }\n};\n\nreturn [responseData];"
      },
      "id": "e5f6a7b8-c9d0-1234-e567-890123456789",
      "name": "📊 Process Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400],
      "onError": "continueRegularOutput",
      "notes": "📊 INTELLIGENT RESULT PROCESSING ENGINE\n\n🎯 PURPOSE:\nTransforms raw vector search results into optimized, user-friendly responses:\n• Calculates enhanced relevance scores using multiple factors\n• Applies user-specified filters for precise targeting\n• Deduplicates results and organizes by video groupings\n• Enriches results with context and quality indicators\n\n🧮 RELEVANCE SCORING ALGORITHM:\n\n⭐ BASE SCORE:\n• Starts with vector similarity score (0-1)\n• Represents semantic relevance from embeddings\n\n🎯 INTENT-BASED BOOSTS (+0.1 each):\n• tutorial: Matches \"how to\", \"step\", \"tutorial\" content\n• definition: Contains \"is a\", \"means\", \"definition\" patterns\n• example: Includes \"example\", \"for instance\", \"like this\"\n• troubleshooting: Features \"error\", \"problem\", \"fix\", \"solution\"\n• recommendation: Has \"best\", \"recommend\" guidance\n\n🔤 KEYWORD MATCHING BONUS:\n• Calculates keyword match ratio in content and title\n• Bonus = (matches/total_keywords) * 0.1\n• Rewards exact term matching from user query\n\n🎛️ ADVANCED FILTERING:\n\n📚 MODULE FILTERING:\n• Filters by specific learning modules\n• Supports multiple module selection\n• Exact string matching for precision\n\n📅 WEEK FILTERING:\n• Curriculum week targeting\n• Supports week ranges and specific weeks\n• Integer-based matching for reliability\n\n🎚️ DIFFICULTY FILTERING:\n• beginner/intermediate/advanced levels\n• Single difficulty selection per search\n• Content complexity targeting\n\n🏷️ TAG FILTERING:\n• Topic-based filtering (\"scripting\", \"ui\", \"game-design\")\n• Any-match logic (OR operation)\n• Supports multiple tag combinations\n\n⏱️ DURATION FILTERING:\n• Video length constraints (min/max seconds)\n• Range-based filtering for optimal content length\n• Helps users find content matching available time\n\n🔧 RESULT OPTIMIZATION:\n\n🚫 DEDUPLICATION:\n• Removes duplicate chunks from same video position\n• Uses videoId + chunkIndex as unique key\n• Maintains best scoring instance per position\n\n📖 CONTEXT ENRICHMENT:\n• Optional surrounding text chunk inclusion\n• Provides broader context for search matches\n• Maintains chunk relationships for coherent reading\n\n📊 VIDEO GROUPING:\n• Organizes results by source video\n• Calculates best score and match count per video\n• Enables video-centric result presentation\n• Sorts groups by highest relevance score\n\n📈 QUALITY METRICS:\n\n🏆 RELEVANCE TIERS:\n• High: >0.8 relevance score (excellent matches)\n• Medium: 0.6-0.8 relevance score (good matches)\n• Low: <0.6 relevance score (marginal matches)\n\n🌈 DIVERSITY SCORING:\n• Measures result diversity across videos\n• Higher diversity = broader knowledge coverage\n• Calculated as unique_videos / total_results\n\n⚡ PERFORMANCE TRACKING:\n• Processing time measurement\n• Filter application statistics\n• Deduplication impact analysis\n• Search quality indicators\n\n➡️ OUTPUT:\nComprehensive response object with processed results, video groupings, quality metrics, and search analytics"
    },
    {
      "parameters": {
        "operation": "publish",
        "channel": "search_events",
        "messageData": "={{ JSON.stringify({\n  event: 'semantic_search_performed',\n  userId: $node['🔍 Query Enhancement'].json.userId,\n  sessionId: $node['🔍 Query Enhancement'].json.sessionId,\n  query: $json.query,\n  intent: $json.intent,\n  resultsFound: $json.resultsFound,\n  averageRelevance: $json.searchMetadata.averageRelevance,\n  uniqueVideos: $json.searchMetadata.uniqueVideos,\n  processingTime: $json.processingTime,\n  filtersUsed: $json.searchMetadata.filtersApplied,\n  timestamp: new Date().toISOString(),\n  source: 'semantic-search'\n}) }}"
      },
      "id": "f6a7b8c9-d0e1-2345-f678-901234567890",
      "name": "📡 Publish Search Event",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1380, 400],
      "credentials": {
        "redis": {
          "id": "redis-credentials",
          "name": "Redis Credentials"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "📡 SEARCH ANALYTICS EVENT BROADCASTER\n\n🎯 PURPOSE:\nBroadcasts search performance and usage analytics to other subsystems:\n• Enables real-time search analytics and monitoring\n• Feeds data to personalization and recommendation engines\n• Provides insights for content gap analysis and optimization\n• Supports A/B testing and search algorithm improvements\n\n📺 CHANNEL: search_events\nAll analytics and personalization systems subscribe for search insights\n\n📦 EVENT PAYLOAD:\n{\n  \"event\": \"semantic_search_performed\",\n  \"userId\": \"string|null\",\n  \"sessionId\": \"string|null\", \n  \"query\": \"string\",\n  \"intent\": \"tutorial|definition|example|troubleshooting|recommendation|general\",\n  \"resultsFound\": \"number\",\n  \"averageRelevance\": \"number (0-1)\",\n  \"uniqueVideos\": \"number\",\n  \"processingTime\": \"number (milliseconds)\",\n  \"filtersUsed\": \"number\",\n  \"timestamp\": \"ISO_string\",\n  \"source\": \"semantic-search\"\n}\n\n🎧 SUBSCRIBER SYSTEMS:\n\n📊 ANALYTICS ENGINE:\n• Tracks search patterns and popular queries\n• Identifies content gaps and high-demand topics\n• Measures search quality and user satisfaction\n• Generates insights for content creation priorities\n\n🎯 PERSONALIZATION ENGINE:\n• Learns user search preferences and patterns\n• Adapts future search rankings based on behavior\n• Improves query suggestions and auto-complete\n• Customizes content recommendations\n\n🔍 SEARCH OPTIMIZATION:\n• Monitors search performance and latency\n• Identifies slow or ineffective queries\n• A/B tests different ranking algorithms\n• Optimizes vector similarity thresholds\n\n📈 BUSINESS INTELLIGENCE:\n• Content popularity and engagement metrics\n• User learning path analysis through searches\n• Feature usage statistics (filters, options)\n• ROI analysis for content investment decisions\n\n🎓 ADAPTIVE LEARNING SYSTEM:\n• Maps search patterns to learning outcomes\n• Identifies knowledge gaps in curriculum\n• Suggests supplementary content creation\n• Correlates search success with user progress\n\n⚡ REAL-TIME BENEFITS:\n• Immediate search performance monitoring\n• Live content gap identification\n• Real-time user behavior insights\n• Instant algorithm performance feedback\n• Dynamic search optimization triggers\n\n📊 ANALYTICS INSIGHTS:\n\n🔥 POPULAR QUERIES:\n• Most searched terms and phrases\n• Trending topics and learning interests\n• Seasonal patterns in search behavior\n• Correlation with curriculum progression\n\n❌ FAILED SEARCHES:\n• Queries returning few or poor results\n• Content gaps requiring attention\n• Technical topics needing more coverage\n• User frustration indicators\n\n⚡ PERFORMANCE METRICS:\n• Average search response times\n• Result relevance quality trends\n• Filter usage patterns and effectiveness\n• Search success rate optimization\n\n🎯 USER BEHAVIOR PATTERNS:\n• Search intent distribution over time\n• Progressive complexity in query patterns\n• Learning path correlations with searches\n• Help-seeking behavior analysis\n\n➡️ IMPACT:\nEnables data-driven search optimization, content strategy, and personalized user experiences across the entire Blox Wizard learning platform"
    },
    {
      "parameters": {
        "jsCode": "// 📤 COMPREHENSIVE SEARCH RESPONSE FORMATTER\n// Generates user-friendly, structured responses for search results\n\nconst searchData = items[0].json;\nconst timestamp = new Date().toISOString();\n\n// Format individual search results for user consumption\nfunction formatSearchResult(result) {\n  const metadata = result.metadata || {};\n  \n  return {\n    // Core content\n    id: `${metadata.videoId}_${metadata.chunkIndex}`,\n    content: result.content,\n    relevanceScore: Math.round(result.relevanceScore * 100) / 100,\n    \n    // Video information\n    video: {\n      id: metadata.videoId,\n      title: metadata.title,\n      timestamp: metadata.timestamp,\n      startTimeSeconds: metadata.startTime,\n      url: metadata.videoUrl || null,\n      thumbnailUrl: metadata.thumbnailUrl || null\n    },\n    \n    // Learning context\n    learningContext: {\n      module: metadata.module,\n      week: metadata.week,\n      difficulty: metadata.difficulty,\n      tags: metadata.tags || [],\n      chunkIndex: metadata.chunkIndex,\n      estimatedReadTime: Math.ceil((result.content.length / 1000) * 60) // seconds\n    },\n    \n    // Navigation helpers\n    navigation: {\n      directVideoLink: metadata.videoUrl ? `${metadata.videoUrl}#t=${metadata.startTime}s` : null,\n      timestampFormatted: formatTimestamp(metadata.startTime),\n      contextBefore: result.contextBefore || null,\n      contextAfter: result.contextAfter || null\n    }\n  };\n}\n\n// Format video group for organized presentation\nfunction formatVideoGroup(group) {\n  return {\n    videoId: group.videoId,\n    title: group.title,\n    module: group.module,\n    week: group.week,\n    difficulty: group.difficulty,\n    tags: group.tags,\n    \n    // Group statistics\n    statistics: {\n      totalMatches: group.totalMatches,\n      bestRelevanceScore: Math.round(group.bestScore * 100) / 100,\n      averageRelevance: group.matches.length > 0 ? \n        Math.round((group.matches.reduce((sum, m) => sum + m.relevanceScore, 0) / group.matches.length) * 100) / 100 : 0\n    },\n    \n    // Formatted matches\n    matches: group.matches.map(formatSearchResult),\n    \n    // Quick navigation\n    quickAccess: {\n      bestMatch: group.matches.length > 0 ? formatSearchResult(group.matches[0]) : null,\n      videoUrl: group.matches.length > 0 ? group.matches[0].metadata?.videoUrl : null\n    }\n  };\n}\n\n// Format search suggestions based on results\nfunction generateSearchSuggestions(query, intent, results) {\n  const suggestions = [];\n  \n  if (results.length === 0) {\n    suggestions.push({\n      type: 'query_modification',\n      suggestion: 'Try using different keywords or synonyms',\n      example: `Instead of \"${query}\", try \"how to ${query}\" or use simpler terms`\n    });\n    \n    suggestions.push({\n      type: 'filter_removal',\n      suggestion: 'Remove some filters to broaden your search',\n      example: 'Try searching without difficulty or module restrictions'\n    });\n  } else if (results.length < 3) {\n    suggestions.push({\n      type: 'query_expansion',\n      suggestion: 'Try broader search terms for more results',\n      example: 'Add related concepts or remove specific technical terms'\n    });\n  }\n  \n  // Intent-based suggestions\n  if (intent === 'tutorial' && results.length > 0) {\n    suggestions.push({\n      type: 'learning_path',\n      suggestion: 'Consider following the full tutorial series',\n      example: 'Look for related videos in the same module or week'\n    });\n  }\n  \n  return suggestions;\n}\n\n// Helper functions\nfunction formatTimestamp(seconds) {\n  if (!seconds) return '0:00';\n  \n  const hours = Math.floor(seconds / 3600);\n  const minutes = Math.floor((seconds % 3600) / 60);\n  const secs = seconds % 60;\n  \n  if (hours > 0) {\n    return `${hours}:${minutes.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;\n  } else {\n    return `${minutes}:${secs.toString().padStart(2, '0')}`;\n  }\n}\n\nfunction generateSearchInsights(searchData) {\n  const insights = {\n    queryComplexity: searchData.query.length > 50 ? 'high' : searchData.query.length > 20 ? 'medium' : 'low',\n    resultQuality: searchData.searchMetadata.averageRelevance > 0.8 ? 'excellent' : \n                   searchData.searchMetadata.averageRelevance > 0.6 ? 'good' : 'fair',\n    contentCoverage: searchData.searchMetadata.uniqueVideos > 5 ? 'broad' : \n                     searchData.searchMetadata.uniqueVideos > 2 ? 'moderate' : 'focused',\n    searchEfficiency: searchData.processingTime < 500 ? 'fast' : \n                      searchData.processingTime < 1500 ? 'normal' : 'slow'\n  };\n  \n  return insights;\n}\n\n// Build the comprehensive response\nconst response = {\n  // Request summary\n  request: {\n    query: searchData.query,\n    intent: searchData.intent,\n    timestamp: timestamp,\n    processingTimeMs: searchData.processingTime\n  },\n  \n  // Search results summary\n  summary: {\n    totalResults: searchData.resultsFound,\n    uniqueVideos: searchData.searchMetadata.uniqueVideos,\n    averageRelevance: Math.round(searchData.searchMetadata.averageRelevance * 100) / 100,\n    filtersApplied: searchData.searchMetadata.filtersApplied,\n    searchType: searchData.searchMetadata.hybridSearchUsed ? 'hybrid' : 'semantic'\n  },\n  \n  // Quality breakdown\n  quality: {\n    excellent: searchData.quality.highRelevance,\n    good: searchData.quality.mediumRelevance,\n    fair: searchData.quality.lowRelevance,\n    diversityScore: Math.round(searchData.quality.diversityScore * 100) / 100\n  },\n  \n  // Formatted results\n  results: searchData.results.map(formatSearchResult),\n  \n  // Video groupings\n  videoGroups: searchData.videoGroups.map(formatVideoGroup),\n  \n  // Search suggestions and recommendations\n  suggestions: generateSearchSuggestions(searchData.query, searchData.intent, searchData.results),\n  \n  // Search insights\n  insights: generateSearchInsights(searchData),\n  \n  // Metadata for API consumers\n  metadata: {\n    searchId: 'search_' + Date.now(),\n    version: '1.0',\n    source: 'blox-wizard-semantic-search',\n    cacheHint: searchData.processingTime < 100 ? 'cached' : 'computed',\n    nextActions: {\n      refineSearch: '/api/search/semantic',\n      viewVideo: '/api/videos/{videoId}',\n      relatedSearch: '/api/search/related'\n    }\n  },\n  \n  // Performance analytics\n  performance: {\n    searchLatency: searchData.processingTime,\n    resultRelevance: searchData.searchMetadata.averageRelevance,\n    algorithmEfficiency: searchData.resultsFound / Math.max(1, searchData.totalResults),\n    userSatisfactionPrediction: calculateSatisfactionScore(searchData)\n  }\n};\n\n// Calculate predicted user satisfaction based on search quality\nfunction calculateSatisfactionScore(data) {\n  let score = 0;\n  \n  // Relevance contribution (50%)\n  score += data.searchMetadata.averageRelevance * 0.5;\n  \n  // Result count contribution (25%)\n  const resultRatio = Math.min(1, data.resultsFound / 5); // Optimal around 5 results\n  score += resultRatio * 0.25;\n  \n  // Diversity contribution (15%)\n  score += data.quality.diversityScore * 0.15;\n  \n  // Speed contribution (10%)\n  const speedScore = Math.max(0, 1 - (data.processingTime / 2000)); // Penalty after 2s\n  score += speedScore * 0.1;\n  \n  return Math.round(score * 100) / 100;\n}\n\nreturn [response];"
      },
      "id": "a7b8c9d0-e1f2-3456-a789-012345678901",
      "name": "📤 Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400],
      "onError": "continueRegularOutput",
      "notes": "📤 COMPREHENSIVE SEARCH RESPONSE FORMATTER\n\n🎯 PURPOSE:\nTransforms processed search results into user-friendly, actionable responses:\n• Formats results with clear structure and navigation aids\n• Provides video groupings for organized content consumption\n• Generates intelligent search suggestions and insights\n• Includes performance metrics and quality assessments\n\n📋 RESPONSE STRUCTURE:\n\n🔍 REQUEST SUMMARY:\n• Original query and detected intent\n• Processing timestamp and performance metrics\n• Search type identification (semantic/hybrid)\n\n📊 RESULTS SUMMARY:\n• Total results count and unique video coverage\n• Average relevance score and quality distribution\n• Applied filters and search configuration summary\n\n⭐ INDIVIDUAL RESULT FORMAT:\nEach result includes:\n• Core content with relevance scoring\n• Video information (title, timestamp, navigation)\n• Learning context (module, week, difficulty, tags)\n• Navigation helpers (direct links, formatted timestamps)\n• Context enrichment (surrounding chunks if available)\n\n📹 VIDEO GROUPINGS:\nOrganized by source video:\n• Video metadata and learning context\n• Match statistics (count, best score, average relevance)\n• Formatted matches within each video\n• Quick access to best match per video\n\n💡 INTELLIGENT SUGGESTIONS:\n\n🔄 QUERY MODIFICATION SUGGESTIONS:\n• Alternative keywords and synonyms for better results\n• Query expansion tips for broader coverage\n• Simplification advice for complex queries\n\n🎛️ FILTER OPTIMIZATION:\n• Suggestions to broaden search scope\n• Filter combination recommendations\n• Content availability hints\n\n🎯 INTENT-BASED RECOMMENDATIONS:\n• Tutorial series suggestions for learning paths\n• Related content discovery hints\n• Progressive learning recommendations\n\n📈 SEARCH INSIGHTS:\n\n🧮 QUERY ANALYSIS:\n• Complexity assessment (high/medium/low)\n• Intent classification confidence\n• Keyword effectiveness scoring\n\n🏆 RESULT QUALITY METRICS:\n• Quality tiers (excellent/good/fair)\n• Content coverage breadth (broad/moderate/focused)\n• Search efficiency assessment (fast/normal/slow)\n\n🎯 USER SATISFACTION PREDICTION:\nPredictive scoring based on:\n• Relevance score contribution (50%)\n• Result count optimization (25%)\n• Content diversity factor (15%)\n• Response speed factor (10%)\n\n⚡ PERFORMANCE ANALYTICS:\n• Search latency measurement\n• Algorithm efficiency calculation\n• Result relevance distribution\n• Cache hit/miss indicators\n\n🔗 NAVIGATION & INTEGRATION:\n• Direct video links with timestamp navigation\n• API endpoints for follow-up actions\n• Related search suggestions\n• Content exploration pathways\n\n📱 API CONSUMER METADATA:\n• Unique search ID for tracking\n• Version information for compatibility\n• Source system identification\n• Next action recommendations\n\n➡️ VALUE DELIVERED:\nRich, actionable search results that enable immediate content consumption, guided learning paths, and continuous search refinement for optimal user experience"
    },
    {
      "parameters": {
        "jsCode": "// ❌ SEARCH ERROR RESPONSE HANDLER\n// Generates comprehensive error responses for failed searches\n\nconst error = items[0].json.error || {};\nconst originalRequest = items[0].json;\nconst timestamp = new Date().toISOString();\n\n// Determine error category and provide specific guidance\nfunction categorizeSearchError(error, request) {\n  // Query validation errors\n  if (!request.query || request.query.trim().length === 0) {\n    return {\n      category: 'QUERY_VALIDATION_ERROR',\n      severity: 'medium',\n      userMessage: 'Please provide a search query',\n      technicalMessage: 'Missing or empty query parameter'\n    };\n  }\n  \n  if (request.query.length < 2) {\n    return {\n      category: 'QUERY_TOO_SHORT',\n      severity: 'low', \n      userMessage: 'Search query is too short. Please use at least 2 characters.',\n      technicalMessage: `Query length ${request.query.length} below minimum of 2 characters`\n    };\n  }\n  \n  if (request.query.length > 500) {\n    return {\n      category: 'QUERY_TOO_LONG',\n      severity: 'medium',\n      userMessage: 'Search query is too long. Please use fewer than 500 characters.',\n      technicalMessage: `Query length ${request.query.length} exceeds maximum of 500 characters`\n    };\n  }\n  \n  // Database/Vector store errors\n  if (error.message && error.message.includes('postgres')) {\n    return {\n      category: 'DATABASE_ERROR',\n      severity: 'high',\n      userMessage: 'Search service is temporarily unavailable. Please try again in a moment.',\n      technicalMessage: 'PostgreSQL connection or query error'\n    };\n  }\n  \n  if (error.message && error.message.includes('vector')) {\n    return {\n      category: 'VECTOR_SEARCH_ERROR',\n      severity: 'high',\n      userMessage: 'Semantic search is temporarily unavailable. Please try again.',\n      technicalMessage: 'Vector similarity search operation failed'\n    };\n  }\n  \n  // Processing errors\n  if (error.message && error.message.includes('timeout')) {\n    return {\n      category: 'SEARCH_TIMEOUT',\n      severity: 'medium',\n      userMessage: 'Search is taking longer than expected. Please try a simpler query.',\n      technicalMessage: 'Search operation exceeded timeout threshold'\n    };\n  }\n  \n  // Rate limiting\n  if (error.message && error.message.includes('rate')) {\n    return {\n      category: 'RATE_LIMITED',\n      severity: 'medium',\n      userMessage: 'Too many searches. Please wait a moment before searching again.',\n      technicalMessage: 'Rate limit exceeded for user/IP'\n    };\n  }\n  \n  // Default unknown error\n  return {\n    category: 'UNKNOWN_ERROR',\n    severity: 'medium',\n    userMessage: 'An unexpected error occurred. Please try again.',\n    technicalMessage: error.message || 'Unknown search error'\n  };\n}\n\n// Generate recovery suggestions based on error type\nfunction generateRecoverySuggestions(errorInfo, query) {\n  const suggestions = [];\n  \n  switch(errorInfo.category) {\n    case 'QUERY_VALIDATION_ERROR':\n    case 'QUERY_TOO_SHORT':\n      suggestions.push({\n        type: 'query_improvement',\n        title: 'Improve Your Search',\n        suggestion: 'Try using more descriptive keywords',\n        examples: ['\"how to script in roblox\"', '\"create gui tutorial\"', '\"roblox game mechanics\"']\n      });\n      break;\n      \n    case 'QUERY_TOO_LONG':\n      suggestions.push({\n        type: 'query_simplification',\n        title: 'Simplify Your Search', \n        suggestion: 'Focus on the main concepts you want to learn',\n        examples: ['Use key terms only', 'Remove unnecessary words', 'Split into multiple searches']\n      });\n      break;\n      \n    case 'DATABASE_ERROR':\n    case 'VECTOR_SEARCH_ERROR':\n      suggestions.push({\n        type: 'retry_later',\n        title: 'Try Again Soon',\n        suggestion: 'Our search service is experiencing issues',\n        examples: ['Wait 30 seconds and retry', 'Try browsing modules directly', 'Check system status page']\n      });\n      break;\n      \n    case 'SEARCH_TIMEOUT':\n      suggestions.push({\n        type: 'query_optimization',\n        title: 'Optimize Your Search',\n        suggestion: 'Try shorter, more specific queries',\n        examples: ['Use fewer keywords', 'Remove complex phrases', 'Search for specific topics']\n      });\n      break;\n      \n    case 'RATE_LIMITED':\n      suggestions.push({\n        type: 'wait_and_retry',\n        title: 'Slow Down Searches',\n        suggestion: 'Please wait before searching again',\n        examples: ['Wait 60 seconds', 'Browse existing content', 'Refine your query while waiting']\n      });\n      break;\n      \n    default:\n      suggestions.push({\n        type: 'general_help',\n        title: 'Search Tips',\n        suggestion: 'Try these general search improvements',\n        examples: ['Use clear, simple language', 'Try different keywords', 'Check for typos']\n      });\n  }\n  \n  return suggestions;\n}\n\n// Generate alternative search approaches\nfunction generateAlternatives(query, errorInfo) {\n  const alternatives = [];\n  \n  if (query && query.length > 0) {\n    // Suggest simplified version\n    const words = query.split(' ').filter(w => w.length > 2);\n    if (words.length > 2) {\n      alternatives.push({\n        type: 'simplified_query',\n        query: words.slice(0, 2).join(' '),\n        description: 'Try a simpler version with key terms only'\n      });\n    }\n    \n    // Suggest synonyms for common terms\n    const synonymSuggestions = {\n      'script': 'code',\n      'gui': 'interface',\n      'part': 'object', \n      'player': 'character',\n      'create': 'make',\n      'build': 'create'\n    };\n    \n    let alternativeQuery = query.toLowerCase();\n    for (const [original, synonym] of Object.entries(synonymSuggestions)) {\n      if (alternativeQuery.includes(original)) {\n        alternativeQuery = alternativeQuery.replace(original, synonym);\n        alternatives.push({\n          type: 'synonym_suggestion',\n          query: alternativeQuery,\n          description: `Try using \"${synonym}\" instead of \"${original}\"`\n        });\n        break;\n      }\n    }\n  }\n  \n  // Suggest browsing by category if search fails\n  alternatives.push({\n    type: 'browse_categories',\n    categories: ['Scripting Basics', 'GUI Design', 'Game Mechanics', 'Advanced Scripting'],\n    description: 'Browse content by category instead of searching'\n  });\n  \n  return alternatives;\n}\n\n// Build comprehensive error response\nconst errorInfo = categorizeSearchError(error, originalRequest);\nconst recoverySuggestions = generateRecoverySuggestions(errorInfo, originalRequest.query);\nconst alternatives = generateAlternatives(originalRequest.query, errorInfo);\n\nconst errorResponse = {\n  success: false,\n  operation: 'semantic_search_failed',\n  timestamp: timestamp,\n  \n  // Error classification\n  error: {\n    category: errorInfo.category,\n    severity: errorInfo.severity,\n    message: errorInfo.userMessage,\n    technicalDetails: errorInfo.technicalMessage,\n    code: error.code || 'SEARCH_ERROR'\n  },\n  \n  // Original request context\n  request: {\n    query: originalRequest.query || '',\n    userId: originalRequest.userId || null,\n    sessionId: originalRequest.sessionId || null,\n    hasFilters: originalRequest.filters && Object.keys(originalRequest.filters).length > 0\n  },\n  \n  // Recovery guidance\n  recovery: {\n    canRetry: ['DATABASE_ERROR', 'VECTOR_SEARCH_ERROR', 'SEARCH_TIMEOUT'].includes(errorInfo.category),\n    retryDelay: errorInfo.category === 'RATE_LIMITED' ? 60000 : 5000, // milliseconds\n    suggestions: recoverySuggestions,\n    alternatives: alternatives\n  },\n  \n  // Help and support\n  help: {\n    searchTips: [\n      'Use clear, descriptive keywords',\n      'Try different phrasings of your question', \n      'Check spelling and grammar',\n      'Use 2-10 keywords for best results',\n      'Be specific about what you want to learn'\n    ],\n    commonQueries: [\n      'how to create a script',\n      'roblox gui tutorial',\n      'player movement script',\n      'game mechanics basics'\n    ],\n    supportOptions: [\n      {\n        type: 'documentation',\n        title: 'Search Help Guide',\n        url: '/docs/search-help'\n      },\n      {\n        type: 'community',\n        title: 'Community Forum',\n        url: '/community/search-help'\n      },\n      {\n        type: 'contact',\n        title: 'Contact Support',\n        url: '/support/contact'\n      }\n    ]\n  },\n  \n  // Analytics for error tracking\n  analytics: {\n    errorId: 'err_' + Date.now(),\n    userAgent: originalRequest.userAgent || 'unknown',\n    searchPattern: originalRequest.query ? originalRequest.query.length + '_chars' : 'no_query',\n    hasRetried: originalRequest.retryCount > 0,\n    sessionContext: !!originalRequest.sessionId\n  }\n};\n\nreturn [errorResponse];"
      },
      "id": "b8c9d0e1-f2a3-4567-b890-123456789012",
      "name": "❌ Search Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 600],
      "onError": "continueRegularOutput",
      "notes": "❌ COMPREHENSIVE SEARCH ERROR HANDLER\n\n🎯 PURPOSE:\nProvides intelligent error handling and recovery guidance for search failures:\n• Categorizes errors by type and severity for appropriate responses\n• Generates user-friendly error messages with actionable guidance\n• Provides specific recovery suggestions based on error context\n• Offers alternative search approaches and browsing options\n\n🔍 ERROR CATEGORIZATION:\n\n📝 QUERY VALIDATION ERRORS:\n• QUERY_VALIDATION_ERROR: Missing or empty search query\n• QUERY_TOO_SHORT: Less than 2 characters (low severity)\n• QUERY_TOO_LONG: More than 500 characters (medium severity)\n• Provides specific character count guidance and examples\n\n💾 SYSTEM ERRORS:\n• DATABASE_ERROR: PostgreSQL connection or query failures\n• VECTOR_SEARCH_ERROR: Embedding similarity search issues\n• High severity requiring immediate attention and retry logic\n\n⏱️ PERFORMANCE ERRORS:\n• SEARCH_TIMEOUT: Operations exceeding time limits\n• Suggests query simplification and optimization strategies\n• Medium severity with user-actionable solutions\n\n🚦 RATE LIMITING:\n• RATE_LIMITED: Too many requests from user/IP\n• Provides specific wait times and alternative actions\n• Protects system resources while guiding users\n\n🛠️ RECOVERY STRATEGIES:\n\n🔄 RETRY LOGIC:\n• Intelligent retry recommendations based on error type\n• Specific delay suggestions (5s for system errors, 60s for rate limits)\n• Retry feasibility assessment per error category\n\n💡 QUERY IMPROVEMENT SUGGESTIONS:\n• Descriptive keyword recommendations for short queries\n• Simplification advice for overly complex searches\n• Synonym suggestions for common Roblox terminology\n• Example queries demonstrating best practices\n\n🔀 ALTERNATIVE APPROACHES:\n• Simplified query generation (key terms only)\n• Synonym-based query alternatives\n• Category browsing suggestions when search fails\n• Progressive query refinement strategies\n\n📚 USER GUIDANCE:\n\n🎯 SEARCH OPTIMIZATION TIPS:\n• Clear, descriptive keyword usage\n• Optimal query length recommendations (2-10 keywords)\n• Spelling and grammar importance\n• Specific learning goal articulation\n\n📖 EDUCATIONAL RESOURCES:\n• Search help documentation links\n• Community forum guidance\n• Support contact information\n• Best practice examples and tutorials\n\n🔍 COMMON QUERY EXAMPLES:\n• \"how to create a script\" - Tutorial requests\n• \"roblox gui tutorial\" - Interface design help\n• \"player movement script\" - Specific functionality\n• \"game mechanics basics\" - Foundational concepts\n\n📊 ERROR ANALYTICS:\n• Unique error ID for tracking and debugging\n• User agent and session context capture\n• Search pattern analysis for improvement insights\n• Retry attempt tracking for success rate analysis\n\n🎨 USER EXPERIENCE FOCUS:\n• Non-technical error messages for general users\n• Progressive disclosure of technical details\n• Immediate actionable guidance over generic messages\n• Contextual help based on specific error scenarios\n\n➡️ VALUE DELIVERED:\nTransforms search failures into learning opportunities with clear guidance, alternative paths, and educational resources that keep users engaged and successful"
    }
  ],
  "connections": {
    "🌐 Semantic Search Webhook": {
      "main": [
        [
          {
            "node": "✅ Query Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Query Validator": {
      "main": [
        [
          {
            "node": "🔍 Query Enhancement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Search Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Query Enhancement": {
      "main": [
        [
          {
            "node": "🔍 Vector Similarity Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Vector Similarity Search": {
      "main": [
        [
          {
            "node": "📊 Process Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Process Search Results": {
      "main": [
        [
          {
            "node": "📡 Publish Search Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Publish Search Event": {
      "main": [
        [
          {
            "node": "📤 Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-30T14:00:00.000Z",
      "updatedAt": "2025-01-30T14:00:00.000Z",
      "id": "semantic-search",
      "name": "semantic-search"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-30T14:00:00.000Z",
  "versionId": "semantic-search-v1"
}